.navbar {
    background-color: #ffc0cb;
    padding: 1rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 50px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 5px;
    background-color: #ffb6c1;
}

.navbar a:hover {
    background-color: #ff99aa;
    transform: scale(1.1);
}

button[type="submit"] {
    background-color: #ffb6c1; 
    color: white; 
    font-weight: bold; 
    font-size: 1rem; 
    padding: 12px 25px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    margin: 20px auto; 
    display: block; 
    transition: background-color 0.3s, transform 0.2s; 
}

button[type="submit"]:hover {
    background-color: #ff99aa; 
    transform: scale(1.05); 
}

button[type="submit"]:active {
    transform: scale(0.98); 
}

.section, 
.section-mood-tracker, 
.section-habit-tracker, 
.section-journal-intime, 
.section-to-do-list {
    text-align: center;
    padding: 50px 20px;
    margin: 40px auto;
    background: linear-gradient(180deg, #ffe6f0, #fff8f0);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

form {
    max-width: 600px; 
    margin: 0 auto; 
    text-align: left; 
}

form label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
}

form input, 
form textarea, 
form select {
    width: 100%;
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #ffb6c1;
    border-radius: 10px;
    background-color: #ffe6f0;
    text-align: left; 
    box-sizing: border-box; 
    font-size: 1rem;
}

#habit-list ul li, 
#journal-list ul li, 
#todo-list ul li {
    background-color: #ffb6c1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    text-align: left; 
    overflow-wrap: break-word; 
    word-break: break-word;
}

#todo-list ul li.completed {
    text-decoration: line-through;
    color: #ffe6f0;
}

.section-habit-tracker h2, 
.section-journal-intime h2, 
.section-to-do-list h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.section {
    background-attachment: fixed;
}